<meta http-equiv="refresh" content="5">
<table>
    <tr><td width="50">Tag ID</td><td width="100">X Coordinate</td><td width="100">Y Coordinate</td><td width="200">Date Time</td></tr>
    <% @tracks.each do |track| %>
        <tr><td width="50"><%=link_to track.xytagid, tracker_path(track) %></td><td width="100"><%= track.xyx %></td><td width="100"><%= track.xyy %></td><td width="200"><%= track.xytimestamp %></td></tr>
    <% end %>
</table>


<canvas id="myChart" width="1216" height="838" style="background-image: url()"></canvas>
<script>
var ctx = document.getElementById('myChart').getContext('2d');
var scatterChart = new Chart(ctx, {
    type: 'scatter',
    data: {            
        datasets: [ <% @tracks.each do |track| %>
        {   <% rr=rand(255) %><% gr=rand(255) %><% br=rand(255) %>
        
            label: '<%= track.xytagid %>',
            backgroundColor: "rgba(<%= rr %>,<%= gr %>,<%= br %>,0.4)",
            borderColor: "rgba(<%= rr %>,<%= gr %>,<%= br %>,1)",
            data: [{ 
                x: <%= track.xyx %>,
                y: <%= track.xyy %>
                }]
        },<% end %>
        {                
            label: '',
            backgroundColor: "rgba(0,0,0,0)",
            borderColor: "rgba(0,0,0,0)",
            data: [ 
               {
                x: 0,
                y: 20
            }, {
                x: 20,
                y: 0
            }]
         }]
    },
    options: {
        animation:{duration: 0},
        scales: {
            xAxes: [{
                type: 'linear',
                position: 'bottom'
            }]
        }
    }
});

</script>
